# Ecplise stuff
> In progress

Cailin has created groundtracks at this path:

In [ ]:
from fastcore.utils import Path

In [ ]:
groundtracks = Path("/luna2/cailin/data/eclipse")

In [ ]:
import pprint

In [ ]:
fnames = list(groundtracks.glob("*_tlontlat_track.csv"))

In [ ]:
pd.read_csv(fnames[0])

            lon        lat      marker-color
0    -88.382683  86.254242  rgb(236,236,236)
1    -86.485886  86.239525  rgb(236,236,236)
2    -88.753136  86.407021  rgb(236,236,236)
3    -85.463066  86.381546  rgb(236,236,236)
4    -88.824966  86.557350  rgb(236,236,236)
...         ...        ...               ...
2029  89.971809 -86.191833  rgb(242,242,242)
2030  89.529541 -86.362938  rgb(242,242,242)
2031  89.539543 -86.369835  rgb(242,242,242)
2032  89.963654 -86.534798  rgb(242,242,242)
2033  89.809822 -86.542877  rgb(242,242,242)

[2034 rows x 3 columns]